.agreed-view {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--primary-text-color);
}

.agreed-view p {
    margin: 8px;
}

.agreed-view iframe {
    margin-top: 10px;
}
