.agreed-view {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--primary-text-color);
}

.agreed-view p {
    margin: 8px;
}

.agreed-view img,
.agreed-view .embedded-map {
    height: calc(min(20vw, 40vh));
}

.agreed-view .preview-container {
    border-radius: 16px;
    overflow: hidden;
}

.agreed-view img {
    width: calc(min(20vw, 40vh) * 1.5);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.agreed-view .embedded-map {
    width: calc(min(20vw, 40vh) * 2);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.agreed-view iframe {
    margin-top: 10px;
}
