.julia-view {
  width: 100%;
  height: 100%;
}

.home-view {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--primary-text-color);
}

.button-container {
  display: flex;
  flex-direction: row;
}

.button-container .button-cell {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 50px;
}

.julia-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 50px;

  font-size: 1rem;
  font-weight: 600;

  color: var(--primary-text-color);
  background-color: var(--secondary-color);

  border-radius: 12px;
  border: 2px solid var(--primary-text-color);
}
