html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  font-family: monaco,Consolas,Lucida Console,monospace;
  background-color: var(--primary-color);
}

#root {
  width: 100%;
  height: 100%;
}
